{% extends 'layout.html' %}

{% block title %}Listagem de endereço{% endblock %}

{% block content %}
    <div class="container">
        <h3>Listagem de endereços</h3>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Endereço</th>
                <th>Complemento</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>Ações</th>
            </tr>
            <tbody>
                {% for adress in addresses %}
                    <tr>
                        <th>{{ adress.id }}</th>
                        <th>{{ adress.address }}</th>
                        <th>{{ adress.address_complement_normalized }}</th>
                        <th>{{ adress.city }}</th>
                        <th>{{ adress.state }}</th>
                        <th>{{ adress.country }}</th>
                    </tr>
                {% endfor %}
            </tbody>
        </table>



    </div>
{% endblock %}